<!DOCTYPE html>
<html>
    <head>
        <title> Tablica Ogłoszeń </title>
        <style>
        html {
            font-size:16px;

        }

        div {
            background-color:#000080;
            padding:1em;
            font-size:1.3em;
        }
        </style
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
