<html>
<head>
<title> Tablica Ogłoszeń </title>
	<link href="https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
	<style>
      html {
		  font-size:16px;
      }

      div {
        background-color:#d4d4d4;
        font-size:1.3em;
		font-family: 'Khand', sans-serif;
      }
	h1 {
		position: relative;
		width: 100%;
		padding-top: 40px;
		background: linear-gradient(140deg, rgb(8, 96, 138) 0%, rgba(30,182,77,1) 37%, rgba(0,212,255,1) 100%);
		border-bottom: 7px solid #70d685;
		font-weight: 400;
		box-shadow: 0px -1px 22px #000;
		color: #eee!important;
		font-size: 26px;
		line-height: 20px;
		text-shadow: 1px 1px 4px #1d1d1d;
		margin: 0!important;
		font-family: 'Khand', sans-serif!important;
	}
	center {
		background: linear-gradient(rgb(191, 191, 191) 0%, rgb(216, 214, 214) 37%, rgb(247, 247, 247) 100%);
		}
	center a {
		text-shadow: 1px 1px 4px #1d1d1d;
		border: 0!important;
		border-radius: 0!important;
		color: #fff;
		line-height: 20px;
		font-weight: 600;
		font-family: 'Khand', sans-serif;
		letter-spacing: 1px;
		font-size: 20px;
	}
	  center a:hover {
		  text-shadow: 1px 1px 4px #fff;
		  border: 0!important;
		  border-radius: 0!important;
		  color: #41b7ca;
		  text-decoration: none;
		  font-size: 18px;
		  line-height: 20px;
	  }
	  center a:selected {
		  text-shadow: 1px 1px 4px #fff;
		  border: 0!important;
		  border-radius: 0!important;
		  color: #41b7ca;
		  text-decoration: underline;
		  font-size: 18px;
		  line-height: 20px;
	  }
	.buttons {
		padding: 30px;
	}
	.sf-toolbarreset {
	    background-color: #989898!important;
	}
    </style>
</head>
<body>
<center><h1>Tablica Ogłoszeń</h1></center>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<center class="buttons">
	<a href="/ad/">Ogłoszenia</a>
	<br>
	<a href="/ad/new">Dodaj Ogłoszenie</a>
	<br>
	<a href="/login">Logowanie</a>
	<br>
	<a href="/register">Rejestracja</a>
	<br>
</center>
</body>
</html>