<html>
<head>
<title> Tablica Ogłoszeń </title>
<style>
      html {
        font-size:16px;

      }

      div {
        background-color:#000080;
        padding:1em;
        font-size:1.3em;
      }
    </style
</head>
<body>
<center><h1>Tablica Ogłoszeń</h1></center>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<br>
<br><br>
<center>
	<a href="/ad/">-> Ogłoszenia</a>
	<br>
	<a href="/ad/addAd"> ->Dodaj Ogłoszenie</a>
	<br>
	<a href="/login">->Logowanie</a>
	<br>
	<a href="/register">->Rejestracja</a>
	<br>
</center>
</body>
</html>